<div class="footer__container">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <div type="text" class="selector-language" >
                    <div>English</div>
                </div>

                <div class="footer__link-title">
                    Última Entrada del blog
                </div>

                <div class="footer__links-container">
                    {% set posts = [
                        {
                            'title': 'Top 5 houses in Italy',
                            'url': '/',
                            'image': 'images/mobile/images/image_1.png',
                            'date': '29 April, 2014',
                            'text': 'Read the post'
                        }
                    ] %}
                    {% for key in posts %}
                        <a href="{{ key['url'] }}" class="footer__post-container">
                            <div class="row">
                                <div class="col-xs-3 footer__post-image-container">
                                    <div style="background-image: url('{{ key['image'] }}')" class="footer__post-image"></div>
                                </div>

                                <div class="col-xs-9 footer__post-info">
                                    <div class="footer__post-title">
                                        {{ key['title'] }}
                                    </div>
                                    <div class="footer__post-date">
                                        {{ key['date'] }}
                                    </div>
                                    <div class="footer__post-text">
                                        {{ key['text'] }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-7 col-sm-offset-1 col-lg-9 col-lg-offset-0 footer__links-container-wrapper">

                <div class="row  ">

                    {# CITIES #}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
                        <a href="" class="footer__link-title">
                            Top Cities
                        </a>
                        <div class="footer__links-container cells_2 hidden-xs">
                            {% set cities = [
                                {
                                    'title': 'New York',
                                    'url': '/',
                                },
                                {
                                    'title': 'Paris',
                                    'url': '/',
                                },
                                {
                                    'title': 'San Francisco',
                                    'url': '/',
                                },
                                {
                                    'title': 'Barcelona',
                                    'url': '/',
                                },
                                {
                                    'title': 'Madrid',
                                    'url': '/',
                                },
                                {
                                    'title': 'Chicago',
                                    'url': '/',
                                },
                                {
                                    'title': 'Berlin',
                                    'url': '/',
                                },
                                {
                                    'title': 'Roma',
                                    'url': '/',
                                },
                                {
                                    'title': 'Londres',
                                    'url': '/',
                                },
                                {
                                    'title': 'Marraketch',
                                    'url': '/',
                                },
                            ] %}
                            {% for key in cities %}
                                <a href="{{ key['url'] }}" class="icon-container ">
                                    {{ key['title'] }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    {# COUNTRIES #}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
                        <a href="" class="footer__link-title">
                            Top Countries
                        </a>
                        <div class="footer__links-container cells_2 hidden-xs">
                            {% set countries = [
                                {
                                    'title': 'USA',
                                    'url': '/',
                                },
                                {
                                    'title': 'Spain',
                                    'url': '/',
                                },
                                {
                                    'title': 'France',
                                    'url': '/',
                                },
                                {
                                    'title': 'Italy',
                                    'url': '/',
                                },
                                {
                                    'title': 'Canada',
                                    'url': '/',
                                },
                                {
                                    'title': 'Germany',
                                    'url': '/',
                                },
                                {
                                    'title': 'UK',
                                    'url': '/',
                                },
                                {
                                    'title': 'Japan',
                                    'url': '/',
                                },
                                {
                                    'title': 'Australia',
                                    'url': '/',
                                },
                                {
                                    'title': 'Mexico',
                                    'url': '/',
                                },
                            ] %}
                            {% for key in countries %}
                                <a href="{{ key['url'] }}" class="icon-container ">
                                    {{ key['title'] }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    {# MORE INFO #}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                        <a href="" class="footer__link-title">
                            More Info
                        </a>
                        <div class="footer__links-container hidden-xs">
                            {% set info = [
                                {
                                    'title': 'How it works',
                                    'url': '/',
                                },
                                {
                                    'title': 'Pricing',
                                    'url': '/',
                                },
                                {
                                    'title': '1 click Profile importation',
                                    'url': '/',
                                },
                                {
                                    'title': 'Home And travel insurance',
                                    'url': '/',
                                },
                            ] %}
                            {% for key in info %}
                                <a href="{{ key['url'] }}" class="icon-container ">
                                    {{ key['title'] }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    {# COMPANY #}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                        <a href="" class="footer__link-title">
                            Company
                        </a>
                        <div class="footer__links-container hidden-xs">
                            {% set company = [
                                {
                                    'title': 'About us',
                                    'url': '/',
                                },
                                {
                                    'title': 'Blog',
                                    'url': '/',
                                },
                                {
                                    'title': 'Help',
                                    'url': '/',
                                },
                                {
                                    'title': 'Policies',
                                    'url': '/',
                                },
                                {
                                    'title': 'Terms & Cond',
                                    'url': '/',
                                },
                                {
                                    'title': 'Contact',
                                    'url': '/',
                                },
                            ] %}
                            {% for key in company %}
                                <a href="{{ key['url'] }}" class="icon-container ">
                                    {{ key['title'] }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="footer__social-container">
    <div class="container">

        <div class="social-icons__container">
            {% set social = [
                'twitter',
                'facebook',
                'pinterest',
                'email',
            ] %}


            <div class="social-icons">
                {% for item in social %}
                    <a href="" class="icon-container {{ item }}">
                        <span class="icon"></span>
                    </a>
                {% endfor %}
            </div>

            <div class="footer__rights">
                My Twin Place SL © 2016 <br/><span class="hidden-xs">·</span> All rights reserved
            </div>

            <img src="images/mobile/layout/footer/spain_gov@2x.png" alt="" class="footer__images"/>
            <img src="images/mobile/layout/footer/mobile_analytics@2x.png" alt="" width="95" class="footer__images"/>
        </div>
    </div>
    </div>
</div>
